{% from "components/button.html" import action_button %}
{% from "components/post_button.html" import action_post_button %}
{% extends 'base.html'%}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{%endblock%}
{% block title %}
Admin Dashboard
{%endblock%}

{% block content%}

<div class="header-bar d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Welcome Admin</h5>
    <form class="d-flex" method="GET" action="">
        <input class="form-control me-2" type="search" name="q" placeholder="student, organizations">
        <button class="btn btn-primary btn-sm">Search</button>
    </form>
    {{action_button(url_for("auth.logout"),"Logout","light")}}
</div>



<section class="section-box">
    <div>Registerd Companies</div>
    {% for company in registered_companies %}
    <section class="list-item-box">
        <div>{{company.company_name}}</div>

        {{ action_post_button(
        url_for('admin.update_company_status', company_id=company.company_id),
        "Blacklist",
        "danger",
        name="action",
        value="blacklist"
        ) }}
    </section>
    {%endfor%}
</section>



<section class="section-box">
    <div>Registerd Students</div>
    {% for student in registered_students %}
    <section class="list-item-box">
        <div>{{student.name}}</div>
        {% if student.eligible%}
        {{ action_post_button(
        url_for('admin.update_student_status', student_id=student.id),
        "Blacklist",
        "danger",
        name="action",
        value="blacklist"
        ) }}
        {% else %}
        {{ action_post_button(
        url_for('admin.update_student_status', student_id=student.id),
        "Whitelist",
        "success",
        name="action",
        value="whitelist"
        ) }}
        {%endif%}
    </section>
    {%endfor%}
</section>


<section class="section-box">
    <div>Company Applications</div>
    {% for company in company_applications %}
    <section class="list-item-box">
        <div>{{company.company_name}}</div>
        <div>
            {{ action_post_button(
            url_for('admin.update_company_status', company_id=company.company_id),
            "Approve",
            "success",
            name="action",
            value="approve"
            ) }}

            {{ action_post_button(
            url_for('admin.update_company_status', company_id=company.company_id),
            "Blacklist",
            "danger",
            name="action",
            value="blacklist"
            ) }}
        </div>
    </section>
    {%endfor%}
</section>


<section class="section-box">
    <div>Ongoing Drives</div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Sr No.</th>
                <th>Drive Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for drive in ongoing_drives %}

            <tr>
                <td>{{ loop.index }}</td>
                <td>{{drive.drive_name}}</td>
                <td>
                    
                            {{ action_post_button(
            url_for('admin.update_drive_status', drive_id=drive.drive_id),
            "Mark as Complete",
            "success",
            name="action",
            value="close"
            ) }}


                    
                </td>
            </tr>


            {% endfor %}
        </tbody>
    </table>
    <section></section>
</section>

<section class="section-box">
    <div>Student Applications</div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Sr No.</th>
                <th>Name</th>
                <th>Drive</th>
                <th>Company</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {#{% for application in student_applications %}

            <tr>
                <td>1</td>
                <td>{{application.student}}</td>
                <td>{{application.drive}}</td>
                <td>{{application.company}}</td>
                <td>{{application.Date}}</td>
                <td>
                    {{
                    action_button(
                    url_for('',id=drive.id,"view","success")
                    )
                    }}
                </td>
            </tr>


            {% endfor %}#}
        </tbody>
    </table>
    <section></section>
</section>



{%endblock%}