{% from "components/comman_table.html" import render_table %}

{% from "components/button.html" import action_button %}
{% extends 'base.html'%}

{% from "components/modal.html" import render_modal %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{%endblock%}
{% block title %}
Company Dashboard
{%endblock%}


{% call render_modal("createNewDrive", "modal-lg") %}

<main>
    <h1>Create New Drive </h1>
    <br>
    <form method="POST" action="{{ url_for('company.create_drive')}}">
        <div class="form-group">
            <label>Drive Name</label>
            <input type="text" name="drive_name" required>
        </div>

        <div class="form-group">
            <label>Job Title</label>
            <input type="text" name="job_title" required>
        </div>

        <div class="form-group">
            <label>Job Description</label>
            <textarea name="job_desc" class="form-control" rows="4" required></textarea>
        </div>

        <div class="form-group">
            <label>Eligibility Criteria</label>
            <input type="text" name="eligibility_criteria" required>
        </div>

        <div class="form-group">
            <label>Application Deadline</label>
            <input type="datetime-local" name="application_deadline" required>
        </div>


        <button type="submit" class="btn-login">Create</button>
    </form>



</main>

{% endcall %}




{% block content%}

<div class="header-bar d-flex justify-content-between align-items-center">

    <h5 class="mb-0">Welcome Organization</h5>
    <div>
        {{action_button("#","Create Drive +","success",toggle="modal",target="#createNewDrive")}}
        {{action_button(url_for("auth.logout"),"Logout","light")}}
    </div>
</div>



{% call render_table( ["Sr No.", "Drive Name","Status", "Actions"],"Upcoming Drives") %}

{% for drive in upcoming_drives %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ drive.job_title }}</td>
    <td>{{drive.status}}</td>
    <td>
        {#{ action_button(url_for('drive.details', id=drive.drive_id), "View details", "primary") }#}
        {#{ action_button(url_for('drive.details', id=drive.drive_id), "Mark as complete", "success") }#}
        {#{% if drive.status == "APPROVED" %}#}
            {{ action_button(
                url_for("auth.login", id=drive.drive_id),
                "View Details",
                "primary"
            ) }}
            {{ action_button(
                url_for("auth.login", id=drive.drive_id),
                "Mark as complete",
                "success"
            ) }}
       {# {% endif %}#}
    </td>

</tr>
{% endfor %}

{% endcall %}


{% call render_table(["Sr No.", "Drive Name", "Actions"],"Closed Drives") %}

{% for drive in closed_drives %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ drive.job_title }}</td>
    <td>
        {{ action_button(url_for('auth.login', id=drive.drive_id), "Update", "primary") }}
    </td>
</tr>
{% endfor %}

{% endcall %}




{%endblock%}